
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    .toggled {
        padding-left: 250px;
    }
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;

    background: -webkit-linear-gradient(right, #ea0000, #ff0000);
    background: -o-linear-gradient(left, #ea0000, #ff0000);
    background: -moz-linear-gradient(left, #ea0000, #ff0000);
    background: linear-gradient(to left, #ea0000, #ff0000);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    text-align: left;
    font-size: 16px;
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    border: transparent;

    .active {
        a { 
            background: rgba(255,255,255,0.2);
            font-weight: bold;
        }
    }

    li {
        text-indent: 20px;
        line-height: 40px;

        a {
            display: block;
            text-decoration: none;
            color: white;

            &:hover { background: rgba(255,255,255,0.2); }
            &:focus { text-decoration: none; }
            // &:active {
                
            //     color: #fff;
            //     background: rgba(255,255,255,0.2);
            // }
        }
    }
}

.sidebar-nav > .sidebar-brand {
    text-align: center;
    color: white;
    text-transform: uppercase;
    height: 65px;
    font-size: 20px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}