/* variables */

$open-sans: 'Open Sans', sans-serif;

/* Navbar */

.navbar {

    ul { 
      font-weight: 600;
    }
}

.dropdown-menu {
    background-color: red;
    border-radius: 0;

    .active {
        a { background-color: #ea0000 !important; }
    }

    a { 
        color: white !important; 
        &:hover { background-color: #ea0000 !important;  }
    }
}

/* Containers */

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  height: 25px;
  color: red;
}

/* Forms */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-block { border-radius: 0 }

.input-group-btn > .btn {
  border-radius: 0 5px 5px 0;
}

.form-group {

  .control-label {
    padding-right: 0;
  }
}

.form-signin {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
  text-align: left;

  .form-signin-heading { padding: 0 0 10px 0; text-align: center }
}

/* Tables */

.table {

  img {
    height: 70px;
    width: 90px;
  }
}

/* Images */

img.bg {
  min-height: 100%;
  min-width: 1024px;
  
  width: 100%;
  height: auto;
  
  position: fixed;
  top: 0;
  left: 0;
}

.img-circle {
  width:170px;
  height:140px;
}

/* Font */


/* Misc */

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// menu icon
.burger-menu {
  display: block;
  position: absolute;
  float: left;
  margin: 12px 0 0 12px;
  z-index: 100;
  width: 38px;
  height: 27px;
  font-size: 32px;
}

.burger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 0.15em;
  background: red;
  box-shadow: 
    0 0.25em 0 0 red,
    0 0.5em 0 0 red;
}

#stickyDiv {
  z-index: 1001;
  height: 10px;
  width: 100%;
}

#stickyAlias {
  display: none;
  height: 10px;
}

/* Bootstrap Validator */

.bv-form .help-block {
    margin-bottom: 0;
}
.bv-form .tooltip-inner {
    text-align: left;
}
.nav-tabs li.bv-tab-success > a {
    color: #3c763d;
}
.nav-tabs li.bv-tab-error > a {
    color: #a94442;
}

.bv-form .bv-icon-no-label {
  top: 0;
}

.bv-form .bv-icon-input-group {
  top: 0;
  z-index: 100;
}